 /** Header section **/
 header {
	 font-family: Verdana;
	 font-size: 14px;
	 font-weight: bold;
	 display: flex;
	 justify-content: space-around;
	 border-bottom: 1px solid black;
	 padding: 10px;
 }
 nav {
	 display: flex;
	 align-items: center;
	 flex-grow: 2;
	 justify-content: flex-end;
	 padding-right: 50px;
 }
 nav a:link {
	 color: black;
	 padding: 10px;
 }
 .logo {
	  color: MediumAquamarine;
	  display: flex;
	  flex-direction: row;
	  justify-content: center;
	  flex-grow: 1;
 }
 .logo h1 {
	 padding-left: 20px;
 }
/** Main Body section **/
.main {
	display: flex;
	border: 1px solid green;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: space-around;
}
.column {
	border: 1px solid black;
}
.large {
	border: 2px solid HotPink;
	width: 630px;
	display: flex;
	flex-direction: column;
}
.medium {
	border: 2px solid LimeGreen;
	width: 300px;
	display: flex;
	flex-direction: column;
}
.small {
	border: 2px solid SkyBlue;
	width: 240px;
	display: flex;
	flex-direction: column;
	justify-content: center;
}