 /** Header section **/
 header {
	 font-family: Verdana;
	 font-size: 14px;
	 font-weight: bold;
	 display: flex;
	 justify-content: space-around;
 }
 nav {
	 
 }
 .logo {
	  color: MediumAquamarine;
	  display: flex;
	  flex-direction: row;
	  justify-content: space-around;
 }