 /** Header section **/
 header {
	 font-family: Verdana;
	 font-size: 14px;
	 font-weight: bold;
	 display: inline-flex;
	 justify-content: flex-start;
 }
 nav {
	 display: flex;
	 justify-content: center;
 }
 #logo {
	  color: MediumAquamarine
 }